@import "../var";
.home {
  &_designCards {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    margin-top: 120px;
    position: relative;
    .greyBubble {
      bottom: 526px;
      left: -165px;
      z-index: -2;
      position: absolute;
    }

    @include devices(tablet) {
      flex-direction: column;
      margin-top: 160px;
    }
    @include devices(mobile) {
      margin-top: 120px;
    }

    &_left {
      width: 50%;
      @include devices(tablet) {
        width: 100%;
      }
      @include devices(mobile) {
      }
    }
    &_right {
      display: flex;
      gap: 24px;
      flex-direction: column;
      width: 50%;
      @include devices(tablet) {
        width: 100%;
      }
      @include devices(mobile) {
      }
    }
  }
}
